@mixin cuadrado ($fondo, $ancho:200px){
    background: $fondo;
    color: #fff;
    height: 200px;
    margin-top: 5px;
    padding: 10px;
    width: $ancho;
}

.cuadrado-1{
    @include cuadrado(#111, 330px);
}

.cuadrado-2{
    @include cuadrado(#222, 100px);
}

.cuadrado-3{
    @include cuadrado(#333, 600px);
}