
.App {
  background: #000;
  height: 100vh;
  color: #fff;
  display: grid;
  place-content: center;
}

main {
  aspect-ratio: 9/16;
  overflow-y: scroll;
  border-radius: 0.1875rem;
  max-width: 23.4375rem;
  width: 100vw;
  height: auto;
  display: block;
}