* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	user-select: none;
	overflow: hidden;
}

body {
	position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	inset: 0;
}

.pointer {
	color: white;
	font-size: 2.5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.5;
}

.texture-select {
	border: 0.3125rem solid #000;
	background-color: #aaa;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	gap: 1rem;
}

.texture-select img {
	border: 0.3125rem solid #000;
	width: 6.25rem;
	image-rendering: pixelated;
}

.texture-select img.selected {
	border-color: red;
}
